{% extends 'layout.html' %}

{% block title %} • Regístrate o inicia sesión {% endblock %}

{% block body %}
  
  <body>
    <main class="d-flex flex-column justify-content-center align-items-center vh-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-10 col-sm-10 animated-content">
            <h1 class="text-uppercase text-center font-weight-bold display-4 p-1 secondary-font">50% de descuento en mi curso "Ultimate Python": de cero a programador experto</h1>
            <p class="text-center m-1" style="color: white; font-size: 1.9rem; line-height: 1.5;">
              Si quieres aprender a programar, eres estudiante y quieres pulir tus habilidades o ya eres desarrollador Python y quieres conocer más acerca del lenguaje, tienes que tener este curso en tu curriculum. Derechamente te conviene y de esto mismo se trata este curso!

              Python está entre los lenguajes más populares en la actualidad, debido a que se utiliza para construir aplicaciones grandes y robustas. Desde automatizar tareas simples hasta trabajar con Machine Learning, desarrollo Web o ciencias de datos.
            </p>
            <div class="d-flex justify-content-center align-items-center p-5">
              <a href="/btn_register" class="btn btn-info border border-dark button-custom"><i>Deseo aprovechar el descuento</i></a>
            </div>
            
          </div>
        </div>
      </div>
    </main>
  </body>

{% endblock %}
